@charset "UTF-8";
/**
    wwa.css
    @author Matsuyuki(rmn.)
    このファイルは、WWAの起動時に必要です。
    フォントやフォントサイズは自由に変更できます。
*/
.wwa-size-box {
    width: 560px;
    height: 440px;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    line-height: 1.2;
    text-indent: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    overflow: hidden;
}

div#wwa-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#wwa-controller, #wwa-audio-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 440px;
}

#wwa-audio-wrapper {
    display: none;
    overflow: hidden;
}

div#wwa-sidebar > div.wide-cell-row, div.status-value-box, .wide-button {
    position: absolute;
    width: 120px;
    height: 35px;
    line-height: 35px;
}

div#wwa-sidebar > div.item-cell, div.item-click-border, div.item-disp {
    position: absolute;
    width: 40px;
    height: 40px;
}

div#wwa-sidebar > div.wide-cell-row.onpress, div#wwa-sidebar > div.item-cell.onpress {
    margin: 3px 0 0 3px;
}

div#wwa-sidebar {
    position: absolute;
    top: 0px;
    left: 440px;
    width: 120px;
    height: 440px;
    font-size: 14px;
    background-color: #000000;
}

div.status-icon {
    width: 40px;
    height: 35px;
    margin-left: 6px;
}

div.status-value-box {
    top: 0;
    left: 0;
    padding-left: 46px;
    box-sizing: border-box;
    text-align: center;
}

div.item-click-border {
    top: 0;
    left: 0;
}

div.item-disp {
    top: 0;
    left: 0;
}

.item-overwritten {
    width: 40px;
    height: 40px;
    z-index: 0 !important;
}

.item-transitioning {
    z-index: 240 !important;
}

.wide-button {
    cursor: pointer;
}

#disp-energy {
    top: 0;
    left: 0px;
}

#disp-strength {
    top: 35px;
    left: 0px;
}

#disp-defence {
    top: 70px;
    left: 0px;
}

#disp-gold {
    top: 105px;
    left: 0px;
}

#item0 {
    top: 140px;
    left: 0px;
}

#item1 {
    top: 140px;
    left: 40px;
}

#item2 {
    top: 140px;
    left: 80px;
}

#item3 {
    top: 180px;
    left: 0px;
}

#item4 {
    top: 180px;
    left: 40px;
}

#item5 {
    top: 180px;
    left: 80px;
}

#item6 {
    top: 220px;
    left: 0px;
}

#item7 {
    top: 220px;
    left: 40px;
}

#item8 {
    top: 220px;
    left: 80px;
}

#item9 {
    top: 260px;
    left: 0px;
}

#item10 {
    top: 260px;
    left: 40px;
}

#item11 {
    top: 260px;
    left: 80px;
}

#cell-load {
    top: 300px;
    left: 0px;
}

#button-load {
    top: 300px;
    left: 0px;
}

#cell-save {
    top: 335px;
    left: 0px;
}

#button-save {
    top: 335px;
    left: 0px;
}

#cell-restart {
    top: 370px;
    left: 0px;
}

#button-restart {
    top: 370px;
    left: 0px;
}

#cell-gotowwa {
    top: 405px;
    left: 0px;
}

#button-gotowwa {
    top: 405px;
    left: 0px;
}

canvas.wwa-canvas {
    display: block;
    position: absolute;
}

#wwa-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 440px;
    line-height: 16px;
    font-size: 12px;
    background-color: #FFFFFF;
}

#wwa-cover > #version {
    position: absolute;
    bottom: 32px;
    height: 16px;
    text-align: left;
    padding-left: 4px;
    color: #000000;
}

#wwa-cover > #progress-message-container {
    position: absolute;
    bottom: 16px;
    height: 16px;
    text-align: left;
    padding-left: 4px;
    color: #000000;
}

#wwa-cover > #progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 16px;
    background-color: #00ff90;
}

#wwa-cover > #progress-bar-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 16px;
    background-color: #808080;
}

#wwa-cover > #progress-bar-audio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 16px;
    background-color: #008aff;
}

#wwa-cover > #progress-disp {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 16px;
    background-color: #FF6A00;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

#wwa-fader {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 440px;
    border-width: 0;
    border-color: #808080;
    border-style: solid;
    display: none;
}

#wwa-password-window, #wwa-battle-estimate, #wwa-text-message-window,
.wwa-message-window {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    user-select: none;
}

#wwa-password-window, #wwa-battle-estimate {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 400px;
    height: 400px;
    cursor: pointer;
}

#wwa-text-message-window,
.wwa-message-window {
    position: absolute;
}

#wwa-password-window {
    font-size: 12px;
}

#wwa-password-window > div.wwa-password-description {
    text-align: left;
    padding: 8px;
}

#wwa-password-window > textarea {
    font-size: inherit;
}

#wwa-password-window > div.wwa-password-submit {
    padding: 4px;
    box-sizing: border-box;
}

#wwa-password-window > div.wwa-password-submit button {
    display: inline;
    margin: 0 4px;
}

#wwa-battle-estimate {
    font-size: 16px;
}

#wwa-battle-estimate > .est {
    width: 100%;
    height: 50px;
}

#wwa-battle-estimate > .est > .est-img-wrapper {
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
}

#wwa-battle-estimate > .est > .est-status-wrapper {
    height: 40px;
    margin: 5px;
    float: left;
    text-align: left;
    position: relative;
}

#wwa-battle-estimate > .est > .est-status-wrapper > div {
    width: 140px;
    height: 20px;
    line-height: 20px;
    position: absolute;
}

#wwa-battle-estimate > .est > .est-status-wrapper > .est-energy {
    top: 0;
    left: 0;
}

#wwa-battle-estimate > .est > .est-status-wrapper > .est-strength {
    top: 0;
    left: 140px;
}

#wwa-battle-estimate > .est > .est-status-wrapper > .est-defence {
    top: 20px;
    left: 0;
}

#wwa-battle-estimate > .est > .est-status-wrapper > .est-damage {
    top: 20px;
    left: 140px;
    color: #FF0000;
    white-space: nowrap;
}

#wwa-battle-estimate > .est:after {
    content: '';
    clear: left;
    display: block;
    height: 0;
    visibility: hidden;
}

.wwa-yesno-wrapper {
    margin: 0 0 10px 246px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.wwa-yes-button,
.wwa-no-button {
    padding: 0;
    margin: 0;
    float: left;
    width: 40px;
    height: 40px;
}

#wwa-wrapper.useScaleUp #wwa-text-message-window {
    overflow: hidden;
}

#wwa-wrapper.useScaleUp #wwa-text-message-window .wwa-yesno-wrapper {
    transform: scale(1.5, 1.5) translate(-30px, 20px);
    image-rendering: pixelated;
    width: 100px;
    height: 80px !important;
}

#wwa-wrapper.useScaleUp #wwa-text-message-window .wwa-yesno-wrapper .wwa-yes-button,
#wwa-wrapper.useScaleUp #wwa-text-message-window .wwa-yesno-wrapper .wwa-no-button {
    margin: 0 5px !important;
}

#wwa-virtualpad-left,
#wwa-virtualpad-right {
    bottom: 0;
    position: fixed;
}

#wwa-virtualpad-left {
    left: 0;
}

#wwa-virtualpad-left .virtualpad_move button {
    border-radius: 1rem;
}

#wwa-virtualpad-right {
    right: 0;
}

#wwa-virtualpad-right .virtualpad_select button {
    border-radius: 50%;
}

#wwa-virtualpad-right .virtualpad_speedcontrol button {
    font-size: 30px;
    height: 50px;
    width: 90px;
}

#wwa-virtualpad-left button,
#wwa-virtualpad-right button {
    background-color: #c0c0c0;
    border: 0;
    color: #000;
    opacity: 0.75;
}

#wwa-virtualpad-left .virtualpad_move button,
#wwa-virtualpad-right .virtualpad_select button {
    font-size: 50px;
    height: 100px;
    width: 100px;
}

#wwa-virtualpad-left .virtualpad_move,
#wwa-virtualpad-right .virtualpad_select,
#wwa-virtualpad-right .virtualpad_speedcontrol {
    display: grid;
}

#wwa-virtualpad-left .virtualpad_move {
    grid-template-columns: repeat(3, 1fr);
}

#wwa-virtualpad-right .virtualpad_select,
#wwa-virtualpad-right .virtualpad_speedcontrol {
    grid-template-columns: repeat(2, 1fr);
}

#wwa-virtualpad-right .virtualpad_speedcontrol {
    margin-bottom: 16px;
}

#wwa-top-button {
    grid-column-start: 2;
    grid-row-start: 1;
}

#wwa-left-button,
#wwa-right-button {
    grid-row-start: 2;
}

#wwa-left-button {
    grid-column-start: 1;
}

#wwa-right-button {
    grid-column-start: 3;
}

#wwa-bottom-button {
    grid-column-start: 2;
    grid-row-start: 3;
}

#wwa-y-button {
    grid-column-start: 2;
    grid-row-start: 3;
}

#wwa-n-button {
    grid-column-start: 1;
    grid-row-start: 4;
}

#wwa-m-button {
    grid-column-start: 1;
    grid-row-start: 2;
}

#wwa-i-button {
    border-radius: 1rem 0 0 1rem;
}

#wwa-p-button {
    border-radius: 0 1rem 1rem 0;
}

/*
 * z-index.css はIDで指定されている要素に対してのみ z-index を指定するSASSファイルです。
 * アイテムボックスのエフェクトなど、一定条件で発生する、クラス指定の要素は別のSASSファイルをご利用ください。
 */
.wwa-yesno-wrapper {
    z-index: 10;
}

canvas#wwa-map {
    z-index: 100;
}

canvas#wwa-map-sub {
    z-index: 101;
}

div#wwa-sidebar {
    z-index: 102;
}

#disp-energy {
    z-index: 103;
}

#disp-energy > .status-icon {
    z-index: 140;
}

#disp-energy > .status-value-box {
    z-index: 150;
}

#disp-strength {
    z-index: 104;
}

#disp-strength > .status-icon {
    z-index: 141;
}

#disp-strength > .status-value-box {
    z-index: 151;
}

#disp-defence {
    z-index: 105;
}

#disp-defence > .status-icon {
    z-index: 142;
}

#disp-defence > .status-value-box {
    z-index: 152;
}

#disp-gold {
    z-index: 106;
}

#disp-gold > .status-icon {
    z-index: 143;
}

#disp-gold > .status-value-box {
    z-index: 153;
}

#item0 {
    z-index: 107;
}

#item0 > .item-disp {
    z-index: 160;
}

#item0 > .item-click-border {
    z-index: 172;
}

#item1 {
    z-index: 108;
}

#item1 > .item-disp {
    z-index: 161;
}

#item1 > .item-click-border {
    z-index: 173;
}

#item2 {
    z-index: 109;
}

#item2 > .item-disp {
    z-index: 162;
}

#item2 > .item-click-border {
    z-index: 174;
}

#item3 {
    z-index: 110;
}

#item3 > .item-disp {
    z-index: 163;
}

#item3 > .item-click-border {
    z-index: 175;
}

#item4 {
    z-index: 111;
}

#item4 > .item-disp {
    z-index: 164;
}

#item4 > .item-click-border {
    z-index: 176;
}

#item5 {
    z-index: 112;
}

#item5 > .item-disp {
    z-index: 165;
}

#item5 > .item-click-border {
    z-index: 177;
}

#item6 {
    z-index: 113;
}

#item6 > .item-disp {
    z-index: 166;
}

#item6 > .item-click-border {
    z-index: 178;
}

#item7 {
    z-index: 114;
}

#item7 > .item-disp {
    z-index: 167;
}

#item7 > .item-click-border {
    z-index: 179;
}

#item8 {
    z-index: 115;
}

#item8 > .item-disp {
    z-index: 168;
}

#item8 > .item-click-border {
    z-index: 180;
}

#item9 {
    z-index: 116;
}

#item9 > .item-disp {
    z-index: 169;
}

#item9 > .item-click-border {
    z-index: 181;
}

#item10 {
    z-index: 117;
}

#item10 > .item-disp {
    z-index: 170;
}

#item10 > .item-click-border {
    z-index: 182;
}

#item11 {
    z-index: 118;
}

#item11 > .item-disp {
    z-index: 171;
}

#item11 > .item-click-border {
    z-index: 183;
}

#cell-load {
    z-index: 119;
}

#button-load {
    z-index: 201;
}

#cell-save {
    z-index: 120;
}

#button-save {
    z-index: 202;
}

#cell-restart {
    z-index: 121;
}

#button-restart {
    z-index: 203;
}

#cell-gotowwa {
    z-index: 122;
}

#button-gotowwa {
    z-index: 204;
}

#wwa-controller {
    z-index: 200;
}

#wwa-battle-estimate {
    z-index: 230;
}

#wwa-password-window {
    z-index: 231;
}

#wwa-fader {
    z-index: 250;
}

#wwa-cover {
    z-index: 300;
}

#wwa-cover > #progress-message-container {
    z-index: 305;
}

#wwa-cover > #progress-bar-bg {
    z-index: 310;
}

#wwa-cover > #progress-bar {
    z-index: 315;
}

#wwa-cover > #progress-bar-audio {
    z-index: 316;
}

#wwa-cover > #progress-disp {
    z-index: 320;
}

#wwa-text-message-window {
    z-index: 400;
}

#wwa-audio-wrapper {
    z-index: -9999;
}

#wwa-virtualpad-left {
    z-index: 500;
}

#wwa-virtualpad-right {
    z-index: 501;
}
