h1 {
  margin: 0 0 16px 0;
  text-align: center;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0 0 16px 0;
  border-style: solid;
  border-color:currentColor;
  border-width: 0 0 2px 4px;
  padding-left: 4px;
}

.main-area {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.release-unit-section {
  background-color: #EEEEEE;
  padding: 20px;
}

.release-unit-section > h1 {
  border-left: 5px solid #000000;
  border-bottom: 1px solid #000000;
  padding-left: 5px;
}

.release-unit-section:nth-child(2n) {
  background-color: #DDDDDD;
}

.release-unit-section > h1 {
  font-size: 24px;
  padding-top: 5px;
}

.info-anchor {
  height: 40px;
  box-sizing: border-box;

  display: inline-block;
  border: 2px solid #000066;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  line-height: 16px;

  color: #000066;
  background-color: #C8C8FF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.test-play-anchor:hover {
  opacity: 0.7;
}

.distribution-download-anchor {
  height: 40px;
  box-sizing: border-box;

  display: inline-block;
  border: 2px solid #006600;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  line-height: 16px;

  background-color: #C8FFC8;
  color: #111111;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.distribution-download-anchor:hover {
  opacity: 0.7;
}

.unstable-distribution-download-anchor {
  border: 2px solid #FFC107;
  background-color: rgb(255, 255, 130);
}


.action-area {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
