
mixin releaseUnit(releaseUnit)
  section 
    h1 v#{releaseUnit.stable.version} 関連
    +version(releaseUnit.stable.version)
    if releaseUnit.unstable && releaseUnit.unstable.length > 0
        each unstableBranch in releaseUnit.unstable
            section
                h1 v#{releaseUnit.stable.version} ベースの不安定版 (#{unstableBranch.tagName})
                each release in unstableBranch.releases
                    +version(release.version)

mixin version(version)
    ul
        li
            | v#{version}
            | (
            a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-dist.zip") 完全版
            | )
            | (
            a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-update.zip") 更新版
            | )

doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title WWA Wing 配布ページ
    body
        h1 WWA Wing 配布ページ
        h2 最新版
        ul
            li
                a(href="https://github.com/WWAWing/WWAWing/releases/latest/download/wwawing-dist.zip") 完全版 
            li
                a(href="https://github.com/WWAWing/WWAWing/releases/latest/download/wwawing-update.zip") 更新版 
        h2 過去のリリース
        div
            each releaseUnit in releaseUnits 
                +releaseUnit(releaseUnit)

        footer
            p
                a(href="./old-releases") さらに過去のリリースを見る
            p
                a(href="../") WWA Wingのトップに戻る
            p
                | (C) 2013-2022 WWA Wing Team
