doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title WWA Wing 配布ページ
    body
        h1 WWA Wing 配布ページ
        h2 最新版
        ul
            li
                a(href="https://github.com/WWAWing/WWAWing/releases/latest/download/wwawing-dist.zip") 完全版 
            li
                a(href="https://github.com/WWAWing/WWAWing/releases/latest/download/wwawing-update.zip") 更新版 
        
        if beta.releases.length
            h2 beta 版 
            p 開発途中のバージョンを公開しています。現在は スマートフォンで操作できる仮想パッド機能 をお試しいただけます。
            p 予告なく仕様が変更される場合がありますのでご注意ください。最新3件のみ表示しています。
            p
                | ここにない版をお探しの場合は、
                a(href="https://github.com/WWAWing/WWAWing/releases") GitHub の Releases ページ
                | から、入手したいバージョン名を検索し、Assets 内 wwawing-dist.zip (完全版) もしくは wwawing-update.zip (更新版) をダウンロードしてください。
            ul
                each version in beta.releases
                    li
                        | v#{version}
                        | (
                        a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-dist.zip") 完全版
                        | )
                        | (
                        a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-update.zip") 更新版
                        | )

        if alpha.releases.length
            h2 alpha 版
            p 開発途中のバージョンを公開しています。 効率的に条件分岐が記述できる新しい $if マクロの機能をお試しいただけます。
            p 予告なく仕様が変更される場合がありますのでご注意ください。最新3件のみ表示しています。
            p
                | ここにない版をお探しの場合は、
                a(href="https://github.com/WWAWing/WWAWing/releases") GitHub の Releases ページ
                | から、入手したいバージョン名を検索し、Assets 内 wwawing-dist.zip (完全版) もしくは wwawing-update.zip (更新版) をダウンロードしてください。
            ul
                each version in alpha.releases
                    li
                        | v#{version}
                        | (
                        a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-dist.zip") 完全版
                        | )
                        | (
                        a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-update.zip") 更新版
                        | )

        h2 安定版の過去のリリース
        ul
            each version in stable.releases
                li
                    | v#{version}
                    | (
                    a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-dist.zip") 完全版
                    | )
                    | (
                    a(href="https://github.com/WWAWing/WWAWing/releases/download/v" + version + "/wwawing-update.zip") 更新版
                    | )
        footer
            p
                a(href="./old-releases") さらに過去のリリースを見る
            p
                a(href="../") WWA Wingのトップに戻る
            p
                | (C) 2013-2022 WWA Wing Team
